# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
.eggs/

# Virtual environments
.venv/
venv/

# ROS2 colcon build
/build/
/install/
/log/

# Editor settings (optional)
.vscode/
.idea/

# misc
*.swp
*.swo

# project-specific
test.py

